.blue-text {color:blue;}
body
{background-color: cyan; 
    font-family:monospace;
}
h2 {color: orangered}
.smaller-image {
    width: 50px;
}
.highline {background-color: darkgoldenrod;}
.bg-yellow:before {
    background-color: yellow;}